h1 {
  padding-top: 40px;
  font-size: 2em;
}

p {
  font-size: 1.1em;
  color: #505050;
}

.create-drink-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  color: #505050;
}

.create-drink-page-ingredients,
.create-dark-gray-box.create-drink-page-instructions {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

form input:not([type="radio"]), form select, form textarea, form button {
  width: 100%;
}