h1 {
  color: #004d4d;
}

h2 {
  color: #004d4d;
  padding: 0;
  margin-bottom: 15px;
}

p {
  font-size: 1.1em;
  color: #004d4d;
}

.drink-page-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.drink-page-image {
  margin: 0;
  width: 100%;
}

.drink-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.drink-page-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-right: 20px;
}

.drink-page-header .favorite-icon {
  font-size: 34px !important;
  color: #fff;
  cursor: pointer;
}

.drink-page-header .favorite-icon.material-icons.active {
  color: #ffd500;
}

.drink-page-header .favorite-icon:active,
.drink-page-header .favorite-icon:focus {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.image-container {
  position: relative;
}

.back-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #004d4d;
  box-shadow: 1px 1px 2px #000000;
  z-index: 3;
}

.back-button-container:active {
  background-color: #ffd500;
}

.back-button {
  color: #fff;
  font-size: 24px;
}

.back-button:active {
  color: #111;
}

.drink-page-text {
  padding: 10px 15px 15px 15px;
} 

.drink-page-tags {
  font-weight: 100;
  font-style: italic;
}

.drink-page-ingredients {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  align-items: center;
}

.drink-page-ingredient {
  display: contents;
}

.drink-measurement {
  font-size: 1.1em;
  text-align: right;
  margin-right: 5px;
}

.drink-ingredient {
  font-size: 1.1em;
  text-align: left;
}

.dark-gray-box {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.dark-gray-box h2 {
  color: #505050;
}

.dark-gray-box p,
.dark-gray-box .drink-ingredient,
.dark-gray-box .drink-measurement {
  color: #505050;
}
