h2 {
  padding: 0;
  margin-bottom: 10px;
}

.drink-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.drink-page-image {
  margin: 0;
  width: 100%;
}

.drink-page-text {
  padding: 20px;
} 

.drink-page-tags {
  font-weight: 100;
  font-style: italic;
}

.drink-page-ingredients {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  align-items: center;
}

.drink-page-ingredient {
  display: contents;
  font-size: 1.2em;
}

.drink-measurement {
  text-align: right;
  margin-right: 5px;
}

.drink-ingredient {
  text-align: left;
}