.main-quickstart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.main-quickstart-title {
    font-size: 2em;
    margin-left: 10px;
    color: #004d4d;
}

.main-quickstart {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-drinks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding-bottom: 15px;
}

.random-drink {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 5px;
    
}

.random-drink img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.random-drink-name {
    font-size: 1.5em;
    color: #fff;
}

.quickstart-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 15px;
    width: 100%;
}

.quickstart-button {
    background-color: #004d4d;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    line-height: 1;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .quickstart-button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  