.NavBar {
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 50%;
  z-index: 1000;
  width: 100%;
  height: 80px;
  max-width: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #004d4d;
  transform: translateX(-50%);
}

.NavBar button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1em;
  text-align: center;
  background-color: transparent;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar button.active {
  background-color: #fff;
  color: #004d4d;
  box-shadow: 1px 1px 2px #002929;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  color: #fff;
  text-shadow: 1px 1px 1px #002929;

  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.active {
  color: #004d4d;
  text-shadow: 0px 0px 0px transparent;
}

@media screen and (min-width: 900px) {
  .NavBar {
    margin-left: auto;
    margin-right: auto;
  }
}